<style>

    .nav{
        overflow: visible;
        padding: 0.1rem;
    }

    #search{
        float: right;
        position: relative;
        bottom: 0.2rem;
        padding:0.5rem 1rem;
        width:15rem;
        border:1px solid lightgray;

    }

    #search-results{
        position: absolute;
        background: white;
        box-shadow: 1px 1px 5px rgba(0,0,0,0.35);
        right: 0;
    }

    #search-results a{
        display: block;
        border-bottom: 1px solid lightgray;
        width: 12rem;
        padding: 0.5rem;
        font-weight: bold;
    }

    #search-results a:hover{
        background-color: dodgerblue;
        color: white;
    }

    #search-results.hide{
        display: none;
    }


</style>

<input type="text" id="search" placeholder="Search">
<div id="search-results" class="hide">
    

</div>


<script src="https://unpkg.com/lunr/lunr.js"></script>

<script>
    const search = document.getElementById('search')
    const results = document.getElementById('search-results')

    //Show results only on focus
    search.addEventListener('focus', e => {
        results.classList.remove('hide')
    })
    search.addEventListener('blur', e => {
        setTimeout(()=>{
            results.classList.add('hide')
        }, 100)
        
    })



    var documents = [{
        "name": "Lunr",
        "text": "Like Solr, but much smaller, and not as bright."
        }, {
        "name": "React",
        "text": "A JavaScript library for building user interfaces."
        }, {
        "name": "Lodash",
        "text": "A modern JavaScript utility library delivering modularity, performance & extras."
        }]

        // var idx = lunr(function () {
        //     this.ref('name')
        //     this.field('text')

        //     documents.forEach(function (doc) {
        //         this.add(doc)
        //     }, this)
        //     })


    //Add Results to HTML
    //target the search, which above is defined as document.getElementById('search')
    search.addEventListener( 'keyup', function(){
        //First clear out existing results
        results.innerHTML = ''
        //if there is nothing in the search box, return. this refers to the element that is being targeted -> search
        if (!this.value) return
        //if search is not empty, perform a search of this.value (which is what is in the search box)
        //idx refers to the variable above that is the function that performs the lunr search
        let lunrResults = window.idx.search( this.value )
        

        //loop through the results and assign it to an a tag with innerText of the result
        //then add it to the search-results html, which is defined about as results -> document.getElementById('search-results')
        lunrResults.forEach(page =>{

            //Get reference data
            let pageMeta = page.ref.split('||')
            let pageLink = document.createElement('a')
            pageLink.innerText = pageMeta[0]
            pageLink.href=pageMeta[1]
            results.appendChild(pageLink)
        })

    })


    //Fetch Search Index
    fetch('/index.json').then(res => {
        res.json().then(searchIndex =>{
            window.idx = lunr(function () {
            this.ref('meta')
            this.field('title')
            this.field('content')

            searchIndex.forEach(page=>{
                this.add(page)
            })

            
        })
    })
})


</script>